.navbar {
  background-color: #21222a;
  padding: 31px 21px;
  display: flex;
  align-items: center;
}

.navbar .logo-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: #61dafb;
  margin-left: 5px;
}

.navbar .logo {
  width: 45px;
}
